.menu-button {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.menu-button button {
    background-color: transparent;
    padding: 10px;
}

button a {
    display: flex;
    align-items: flex-start;
    gap: 5px;
}